/*
    Aquí va tu código CSS
*/
/*
div{
        width: 65%;
        margin: 0 auto;
}*/
body{
    /*    
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    */
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /*#d3d3d3*/ /*#e4e6eb*/
    color: #242526; /*#3a3b3c*//*#242526*//*#18191A*//*#b0b3b8*/
    margin: 0;
    padding: 20px;
}

h1 {
    color: #5A189A;
        /* font-weight:900; */
    text-align: left;
    font-size: 34px;
    line-height:20px;
}

h2 {
    color: #5A189A;
    text-align: left;
    font-size: 28px;
    line-height:32px;
}

h3 {
    color: #5A189A;
    text-align: left;
    font-size: 22px;
    line-height:20px;
}

h4 {
    font-weight:400;
    color: #5A189A;
    text-align: left;
    font-size: 18px;
}

p {
    font-size:18px;
    line-height: 20px; /*1.5*/
}

label {
    font-size:18px;
    line-height: 20px;
}


ul {
    padding-left: 1.5rem;

  list-style: none; /* quitamos los bullets nativos */
    line-height:28px;
}

li {
    padding-left: 0.25rem;
    margin-bottom: .5rem;
    line-height: 1.5;
    /*PDT sangria francesa*/
}
  

li::before { /*Se utiliza cuando quieres ocultar los bullets nativos (list-style: none) y crear unos completamente personalizados.*/
  content: "☐"; /*content: "✓"; content: "🚀";*/
  color: #5A189A;
  margin-right: 8px;
}

.highlight {
    background-color: yellow;
    padding: 0 0.2rem;
}

/* li p { 
    display: inline;
} */

hr {
    border: none;
    height: 1px; 
    background-color: #e1e2e4;
    margin-top: 25px;
    margin-bottom: 25px;
}

input[type="button"] {
    background-color: #5A189A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

input[type="button"]:hover {
    background-color: #fff;
    color:#5A189A;
    border: 1px solid #5A189A;
    transform: scale(1.08);
}

input[type="button"]:active {
    background-color: #a889c7;
    color:#5A189A;
    transform: scale(0.95);
}
